<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="BankDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\alexe\source\repos\MSSQL_BANK\MSSQL_BANK\BankDB.mdf;Integrated Security=True"/>-->
		<add name="BankDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BankDB.mdf;Integrated Security=True"/>

		<!--<add name="BankDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\alexe\source\repos\MSSQL_BANK\MSSQL_BANK\ОБД лабораторные работы Пивоваров.accdb;Persist Security Info=True"/>-->


		<!--<add name="BankDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\alexe\source\repos\MSSQL_BANK\MSSQL_BANK\Data.mdb;Persist Security Info=True"/>-->
	</connectionStrings>
</configuration>